@media screen and (min-width: 470px) and (max-width:900px) {
    // Page d'accueil
    body{
        padding : 0 25px;
    }
    header a{
        left: -300px;
    }
    .section-2 {
        @include flex(column, center, center)
    }
    .section-3 {
        height: 800px;
        &__restaurants {
            justify-content: center;
            @include flex(row, space-around, center);
            flex-wrap: wrap;
            &__card {
                width: 45%;
                height: 40%;
            }
        }
    }
    // Page restaurant 
    .menu {
        &__section {
            @include flex(column, center, center);
            flex-wrap: wrap;
            &__title {
                width: 360px;
            }
        }

    }
}


@media screen and (min-width : 900px) {
    // Page d'accueil
    body {
        padding : 0 50px;
    }
    header a{
        left: -500px;
    }
    .section-1 {
        height: 250px;
    }
    .section-2 {
        height: 150px;
        &__instructions {
            @include flex(row, space-between, center);
            &__step{
                width: 30%;
            }
        }
        
    }
    .section-3 {
        height: 1200px;
        &__restaurants {
            justify-content: center;
            @include flex(row, space-around, center);
            flex-wrap: wrap;
            &__card {
                width: 45%;
                height: 40%;
            }
        }
    }
    // Page restaurant

    .menu {
        // width: 790px;
        @include flex(row, space-around, center);
        flex-wrap: wrap;
        &__section {
            width: 30%;
        }
    }
}