@import "base/reset";
@import "base/typography";
@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";
@import "layout/header";
@import "layout/footer";
@import "components/logo";

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    // background-color: gray;
}