.restaurant-picture {
    width: 100%;
    height: auto;
    content: cover;
}

.background-grey {
    background-color: darken(white, 5%);
}

.menu {
    position: relative;
    top: -55px;
    width: 100%;
    border-radius: 25px 25px 0 0;
    background-color: darken(white, 5%);
    padding: 30px 15px;
    &__title {
        @include flex(row, space-between, center);
        width: 100%;
        height: 50px;
        h2 {
            font-family: $font-family-title;
            font-weight: 300;
        }
    }
    &__section {
        @include flex(column, space-between, flex-start);
        width: 100%;
        margin: 30px 0 50px 0;
        &__title {
            width: 100%;
            h3 {
                color: lighten(black, 50%);
                font-weight: 500;
            }
            &__underline {
                width: 50px;
                height: 3px;
                background-color: $color-tertiary;
                margin-top: 5px;
            }
        }
        
        &__card {
            cursor: pointer;
            @include flex(row, space-between, center);
            background-color: white;
            border-radius: 15px;
            box-shadow: $box-shadow-small;
            padding-left: 15px;
            margin-top: 15px;
            max-width: 360px;
            width: 100%;
            height: 70px;
            &:hover {
                .menu__section__card__wrap{
                    transform: scaleX(1);
                    margin: 0;
                }
                i {
                    transform: rotate(0deg);
                }
            }
            &__text {
                width: 80%;
                height: 60%;
                @include text-ellipsis;
                @include flex(column, space-between, flex-start);
                p {
                    font-size: 14px;
                    width: 100%;
                    @include text-ellipsis;
                }
                h4 {
                    width: 100%;
                    @include text-ellipsis;
                }
            }
            &__price {
                width: 20%;
                height: 60%;
                @include flex(column, flex-end, center);
            }
            &__wrap {
                height: 100%;
                width: 20%;
                transform: scaleX(0);
                transform-origin: right;
                transition: all 750ms cubic-bezier(.23,.79,.49,.84);
                transition-delay: 0ms;
                margin-left:-20%;

            }
            &__check {
                @include flex(column, center, center);
                width: 100%;
                height: 100%;
                border-radius: 0 15px 15px 0 ;
                background-color: $color-tertiary;
                color: white;
                font-size: 20px;
                font-weight: 700;
                i {
                    transform: rotate(-120deg);
                    transition: transform, 800ms ease-out;
                }
            }
        }


    }
    &__order {
        width: 100%;
        @include flex(row, center, center);
    }
}