* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}
a :visited {
  color: black;
}

li {
  list-style: none;
}

body {
  margin: auto;
  max-width: 1400px;
}
@media screen and (min-width: 768px) {
  body {
    padding: 0 50px;
  }
}

* {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-weight: 200;
}

h2 {
  font-size: 1.9em;
}

p {
  font-size: 1.1em;
  font-weight: 300;
}

header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header a {
  width: 25px;
  height: 25px;
  color: black;
  font-size: 20px;
  position: relative;
  left: -250px;
}

.footer {
  background-color: rgb(39, 38, 38);
  color: rgb(244, 242, 242);
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 210px;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.footer a {
  text-decoration: none;
  color: rgb(244, 242, 242);
}
.footer a :visited {
  color: rgb(244, 242, 242);
}
.footer__title {
  font-family: "Shrikhand", cursive;
  font-size: 20px;
}
.footer__list {
  height: 90%;
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
.footer__list__link--strong {
  font-weight: 500;
}
.footer__list__link__icon {
  margin-right: 10px;
}

.section-1 {
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.section-1__location {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(244, 242, 242);
  font-weight: 600;
}
.section-1__location i {
  margin-right: 10px;
}
.section-1__order-container {
  width: 90%;
  height: 290px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.section-2 {
  margin-top: 50px;
  padding: 15px;
  width: 100%;
  height: 370px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.section-2__instructions {
  width: 100%;
  height: 90%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.section-2__instructions__step {
  width: 330px;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-radius: 20px;
  background-color: rgb(244, 242, 242);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.157);
}
.section-2__instructions__step__nb {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #9356DC;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  left: -15px;
}
.section-2__instructions__step__text {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  font-weight: 600;
  font-size: 1.05rem;
  text-align: center;
}
.section-2__instructions__step__text i {
  margin-right: 30px;
  margin-left: 5px;
  font-size: 23px;
  color: gray;
}

.section-3 {
  background-color: #f2f2f2;
  margin-top: 50px;
  padding: 50px 20px;
  width: 100%;
  height: 1400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
.section-3__restaurants {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.section-3__restaurants__card {
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.157);
  background-color: white;
  width: 350px;
  height: 280px;
  border-radius: 15px;
}
.section-3__restaurants__card img {
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 70%;
  object-fit: cover;
  object-position: 50% 90%;
}
.section-3__restaurants__card__textbox {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 10px 15px;
}
.section-3__restaurants__card__textbox__text {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.restaurant-picture {
  width: 100%;
  height: auto;
  content: cover;
}

.background-grey {
  background-color: #f2f2f2;
}

.menu {
  position: relative;
  top: -55px;
  width: 100%;
  border-radius: 25px 25px 0 0;
  background-color: #f2f2f2;
  padding: 30px 15px;
}
.menu__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.menu__title h2 {
  font-family: "Shrikhand", cursive;
  font-weight: 300;
}
.menu__section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin: 30px 0 50px 0;
}
.menu__section__title h3 {
  color: gray;
  font-weight: 500;
}
.menu__section__title__underline {
  width: 50px;
  height: 3px;
  background-color: #99E2D0;
  margin-top: 5px;
}
.menu__section__card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  box-shadow: 5px 5px 15px -2px rgba(0, 0, 0, 0.3529411765);
  padding-left: 15px;
  margin-top: 15px;
  width: 360px;
  height: 70px;
}
.menu__section__card__text {
  width: 80%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.menu__section__card__text__dots {
  opacity: 0;
}
.menu__section__card__text p {
  font-size: 16px;
}
.menu__section__card__price {
  width: 20%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.menu__section__card__check {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 100%;
  border-radius: 0 15px 15px 0;
  background-color: #99E2D0;
  color: white;
  font-size: 20px;
  font-weight: 700;
  display: none;
}
.menu__order {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

button {
  width: 250px;
  height: 60px;
  background-image: linear-gradient(170deg, #FF79DA, #9356DC);
  border: none;
  border-radius: 30px;
  color: white;
  font-size: 17px;
  font-weight: 400;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.157);
}
button:hover {
  background-image: linear-gradient(170deg, #ff93e1, #a16be0);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.396);
}

.heart {
  width: 10%;
  height: 50%;
  font-size: 25px;
}
.heart i {
  position: absolute;
}
.heart--full {
  background-image: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0%;
  transition: all 1000ms ease-in;
}
.heart--full:hover {
  opacity: 100%;
}

/*# sourceMappingURL=style.css.map */
