.button {
    @include flex(row, center, center);
    width: 250px;
    height: 60px;
    background-image: linear-gradient(170deg, $color-secondary, $color-primary);
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 17px;
    font-weight: 400;
    box-shadow: $box-shadow-main;
    &:hover {
        background-image: linear-gradient(170deg, lighten($color-secondary, 5%), lighten($color-primary, 5%));
        box-shadow: $box-shadow-dark;
    }

}