* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
    :visited {
        color: black;
    }
}

li {
    list-style: none;
}

body {
    margin: auto;
    max-width: 1400px;
}