* {
    font-family: $font-family-text;
}

h1 {
    font-family: $font-family-title;
    font-weight: 200;
}
h2 {
    font-size: 1.9em;
    // margin-left: 15px;
}

p {
    font-size: 1.1em;
    font-weight: 300;
}